:root {
	--chat-header-height: 72px;
	--chat-content-height: 700px
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #CCC;
}


h1 {
	text-align: center;
	margin-top: 12px;
}


.outerContainer {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 60px;
	justify-content: space-around;
	padding: 0 40px;
}

h2 {
	margin-bottom: 20px;
}

input[type=text], input[type=number] {
	width: 300px;
	border-radius: 6px;
	border: 1px solid black;
	padding: 2px 4px;
}

/* TEXT AREA (INPUT) */
textarea {
	height: 500px;
	width: 100%;
	background-color: #EEE;
	padding: 8px 10px;
	border-radius: 4px;
}

/* CHAT (OUTPUT) */
.chatOutput {
	background-image: url("/src/assets/chatBackground.png") !important;
	width: 650px;
	/* prevent canvas from breaking spaces between words */
	letter-spacing: 0.01px;
}

.chatHeader {
	display: flex;
	align-items: center;
	height: var(--chat-header-height);
	padding-left: 20px;
	background-color: #eee;
	border-bottom: 2px solid #0003;
}

.chatHeader .groupImage {
	float: left;
	width: 50px;
	height: 50px;
	border: 2px solid #bbb;
	border-radius: 50%;
	object-fit: cover;
}

.chatHeader .groupName {
	font-weight: bold;
	font-size: 1.7em;
	margin-bottom: 2px;
	padding-left: 12px;
}

.chatOutput .conversationContainer {
	overflow-y: scroll;
	padding-top: 12px;
	padding-bottom: 8px;

	/* Hiding scrollbar (for all browsers) */
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.exportToImage {
	float: right;
	margin-top: 12px;
}

.errorLog {
	color: red;
	font-size: 1.5em;
}

.imageExports {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
	row-gap: 20px;
	justify-content: space-around;
	margin: 40px auto;
}